<h1 class="text-2xl font-bold mb-4">Friend Requests</h1>

<h2 class="text-xl font-semibold mb-2">Requests Received</h2>
<% @request_received_from.each do |requestor| %>
  <div class="mb-4 p-4 border rounded-lg shadow-sm">
    <p class="text-lg font-medium mb-2"><%= requestor.name %> (<%= requestor.email %>)</p>
    
    <%= form_with url: friend_request_path(find_friend_request(requestor).id), method: :patch, data: { turbo_method: :patch }, local: true do %>
      <%= submit_tag 'Accept', class: 'bg-blue-500 text-white px-4 py-2 rounded mr-2' %>
    <% end %>

    <%= form_with url: friend_request_path(find_friend_request(requestor).id), method: :delete, data: { turbo_method: :delete }, local: true do %>
      <%= submit_tag 'Cancel', class: 'bg-red-500 text-white px-4 py-2 rounded' %>
    <% end %>

  </div>
<% end %>

<h2 class="text-xl font-semibold mb-2">Requests Sent</h2>
<% @requests_sent_to.each do |receiver| %>
  <div class="mb-4 p-4 border rounded-lg shadow-sm">
    <p class="text-lg font-medium mb-2"><%= receiver.name %> (<%= receiver.email %>)</p>
    <%= form_with url: friend_request_path(find_friend_request(receiver).id), method: :delete, data: { turbo_method: :delete }, local: true do %>
      <%= submit_tag 'Cancel', class: 'bg-red-500 text-white px-4 py-2 rounded' %>
    <% end %>
  </div>
<% end %>
