<!-- app/views/posts/show.html.erb -->
<h1 class="text-3xl font-bold text-gray-800"><%= @post.title %></h1>
<p class="text-gray-600">by <%= @post.user.name %></p> <!-- Display the author's name -->

<div class="flex flex-col">
  <div class="flex items-start space-x-4">

    <div class="flex-1">
      <p class="text-gray-700"><%= @post.body %></p>
    </div>

    <% if @post.is_creator?(current_user) %>
      <div class="flex space-x-4 items-center">
        <%= link_to 'Edit Post', edit_post_path(@post), class: "text-blue-600 hover:text-blue-800 font-semibold" %>
        <%= link_to 'Delete Post', post_path(@post), class: "text-red-600 hover:text-red-800 font-semibold", data: { turbo_method: :delete } %>
      </div>
    <% end %>
  </div>
</div>



<p class="mt-6 text-gray-700"><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes' %></p>

<% if user_signed_in? %>
  <div class="flex space-x-4 mt-4">
    <% if @like %>
      <%= button_to 'Unlike', post_like_path(@post, @like), method: :delete, class: "bg-red-500 text-white px-4 py-2 rounded-md shadow-md hover:bg-red-600" %>
    <% else %>
      <%= button_to 'Like', post_likes_path(@post), data: { turbo_method: :post }, class: "bg-blue-500 text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-600" %>
    <% end %>

    <% if current_user.shared_posts.include?(@post) %>
      <%= link_to 'Unshare', post_share_path(@post, current_user.shares.find_by(post: @post)), method: :delete, data: { turbo_method: :delete }, class: "bg-red-500 text-white px-4 py-2 rounded-md shadow-md hover:bg-red-600" %>
    <% else %>
      <%= link_to 'Share', post_shares_path(@post), method: :post, data: { turbo_method: :post }, class: "bg-blue-500 text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-600" %>
    <% end %>
  </div>
<% else %>
  <p class="text-blue-600"><%= link_to 'Sign in to like', new_user_session_path %></p>
<% end %>


<!-- Existing Comments Section -->
<h2 class="text-xl font-semibold text-gray-800 mt-6">Comments</h2>
<%= render @post.comments %>

<!-- New Comment Form -->
<% if user_signed_in? %>
  <div class="mt-6">
    <%= form_with(model: [ @post, Comment.new ], local: true, class: 'space-y-4') do |form| %>
      <div class="mb-4">
        <%= form.label :body, 'Your Comment', class: "block text-gray-700 font-medium mb-2" %>
        <%= form.text_area :body, class: "w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>
      <%= form.submit 'Add Comment', class: "bg-blue-600 text-white px-6 py-3 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    <% end %>
  </div>
<% else %>
  <p class="mt-6 text-blue-600"><%= link_to 'Sign in to comment', new_user_session_path %></p>
<% end %>


<%= link_to 'Back to Posts', posts_path, class: 'mt-5 text-blue-600 hover:text-blue-800 font-semibold' %>
